.message{
    width: 70%;
    border: 1px solid rgb(15, 15, 15);
    box-shadow: 2px 2px 2px rgb(15, 15, 15);
    margin:1rem auto;
    padding: 1rem;
}
.message p{
    margin-top: 0;
}
.message h3{
    margin:0;
    color:rgb(54, 36, 138);
    font-size: 1.75rem;
}

.message h4{
    margin:0;
    font-size: 1rem;
    color: grey;
}

.message .creator{
    display: flex;
    justify-content: space-between;
}

.message .config{
    display: flex;
    justify-content: space-between;
}

.message .config .notifications{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.message .config .notifications:focus{
    outline: none;
}

.message .replies{
    background-color: rgb(233, 231, 243);
    padding: 1rem;
    margin-top: 0.5rem;
    transition: all 0.75s ease-in-out;
}

.message .replies .one-reply{
    padding: 0.5rem;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    margin: 1rem 0;
    transition: all 0.75s ease-in-out;
}

.message .replies .one-reply.hide{
    padding: 0;
    height: 0;
}

.message form input{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
}

.message form input:focus{
    outline: none;
}

@media(max-width:567px){
    .message .config{
        display: flex;
        justify-content: space-around;
    }
}